@model IEnumerable<OmbMf.Models.Facility>

@{
    ViewBag.Title = "Facilities";
}

<h2>Facilities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="facility-table">
</table>
@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/FacilityIndex.js")"></script>
}
