<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TripsUserEntities" connectionString="metadata=res://*/TripsUsers.csdl|res://*/TripsUsers.ssdl|res://*/TripsUsers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqldev;initial catalog=TRIPS_User;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>