<h2>Facilities (<span data-bind="text: facilities().length"></span>)</h2>

<table>
    <thead>
        <tr>
             <th>FacilityId</th>
             <th>Name</th>
             <th>Ombudsman</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: facilities">
        <tr data-bind="css: { added: IsAdded, updated: IsUpdated, deleted: IsDeleted, error: EntityError }">
            <td data-bind="text: FacilityId"></td>
            <td data-bind="text: Name"></td>
            <td data-bind="text: OmbudsmanText"></td>
            <td><a href="#" data-bind="click: $parent.openEditor">Edit</a></td>
        </tr>
    </tbody>
</table>

<p><a href="#" data-bind="click: createFacility">Create new</a></p>
<button data-bind="click: saveAll">Save all</button>
<button data-bind="click: revertAll">Revert all</button>

