<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="TRIPSEntities" connectionString="metadata=res://*/Models.Trips.csdl|res://*/Models.Trips.ssdl|res://*/Models.Trips.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlqa;initial catalog=TRIPS;persist security info=True;user id=projectsdbuser;password=projectsdbuser_qa;multipleactiveresultsets=True;App=Trips4&quot;" providerName="System.Data.EntityClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="TRIPS_UserEntities" connectionString="metadata=res://*/Models.TripsUser.csdl|res://*/Models.TripsUser.ssdl|res://*/Models.TripsUser.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlqa;initial catalog=TRIPS_User;persist security info=True;user id=globaldbuser;password=globaldbuser_qa;multipleactiveresultsets=True;App=Trips4&quot;" providerName="System.Data.EntityClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="DRCOG" connectionString="Data Source=sqlqa.cognet.drcog.org;Initial Catalog=TRIPS; User ID=projectsdbuser; Password=projectsdbuser_qa;Application Name=Trips4;" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="ErrorLogging" connectionString="Data Source=sqlqa.cognet.drcog.org;Initial Catalog=GlobalError;User ID=globaldbuser;Password=globaldbuser_qa;Application Name=Trips4;" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="TripsUser" connectionString="Data Source=sqlqa.cognet.drcog.org;Initial Catalog=TRIPS_User;User ID=globaldbuser;Password=globaldbuser_qa;Application Name=Trips4;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>