@{
    ViewBag.Title = "Test Pages";
}
<h2>@ViewBag.Title</h2>
<div id="message">
</div>
<table id="ombudsman-table">
</table>
<table id="facility-table">
</table>
@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/TestPages.js")"></script>
}
