@model IEnumerable<OmbMf.Models.Ombudsman>

@{
    ViewBag.Title = "Ombudsmen";
}

<h2>Ombudsmen</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="ombudsman-table">
</table>
@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/OmbudsmanIndex.js")"></script>
}
