<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="OmbudsmanEntities" connectionString="metadata=res://*/Ombudsman.csdl|res://*/Ombudsman.ssdl|res://*/Ombudsman.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlprod;initial catalog=Ombudsman;persist security info=True;user id=app_aging_ombudsman;password=VLnB096b72.iqFd;multipleactiveresultsets=True;App=OmbudsmanTest&quot;" providerName="System.Data.EntityClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=sqlprod;Initial Catalog=Ombudsman_Users;User ID=globaldbuser;Password=globaldbuser_prod;" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>