@{
    ViewBag.Title = "TRIPS Contacts";
}
<div id="tabs">
    <ul>
        <li><a href="#tab-contactlist">Contact Lists</a></li>
        <li><a href="#tab-contact">All Contacts</a></li>
        <li><a href="#tab-selected-contactlist">Contact List Members</a></li>
    </ul>
    <div id="tab-contactlist" class="table-controls">
        <h2>
            Contact Lists</h2>
        <div>
            <button id="create-contactlist">
                Create New Contact List</button>
        </div>
        <br />
        <table id="contactlist-table" class="data-table">
        </table>
    </div>
    <div id="tab-contact" class="table-controls">
        <h2>
            All Contacts</h2>
        <div>
            <button id="create-contact">
                Create New Contact</button>
        </div>
        <table id="contact-table" class="data-table">
        </table>
    </div>
    <div id="tab-selected-contactlist" class="table-controls">
        <h2 id="scl-title">
            My Contact List</h2>
        <div>
            <button id="scl-add-contacts">
                Add Contacts</button>
        </div>
        <table id="scl-table" class="data-table">
        </table>
    </div>
</div>
<!-- UI elements -->
<div id="contact-dialog" title="Contact" class="edit-dialog">
    <form class="contact-form" action="">
    <p>
        <label>
            ID: <span id="contactdlg-Id" />
        </label>
    </p>
    <p>
        <label>
            UserName:
            <input id="contactdlg-UserName" type="text" class="required wide" />
        </label>
    </p>
    <p>
        <label>
            Title:
            <input id="contactdlg-Title" type="text" class="wide" />
        </label>
    </p>
    <p>
        <label>
            Organization:
            <input id="contactdlg-Organization" type="text" class="wide" />
        </label>
    </p>
    <p>
        <label>
            Phone:
            <input id="contactdlg-Phone" type="text" />
        </label>
    </p>
    <p>
        <label>
            Email:
            <input id="contactdlg-Email" type="text" class="email wide" />
        </label>
    </p>
    <button id="contactdlg-accept">
        Accept</button>
    <button id="contactdlg-cancel">
        Cancel</button>
    </form>
</div>
<div id="contactlist-dialog" title="Contact List" class="edit-dialog">
    <form class="contactlist-form" action="">
    <p>
        <label>
            ID: <span id="cldlg-Id" />
        </label>
    </p>
    <p>
        <label>
            Name:
            <input id="cldlg-Name" type="text" class="required wide" />
        </label>
    </p>
    <button id="cldlg-accept">
        Accept</button>
    <button id="cldlg-cancel">
        Cancel</button>
    </form>
</div>
<div id="addcontacts-dialog" title="Add Contact" class="edit-dialog">
    <form class="addcontacts-form" action="">
    <p>
        <label>
            UserName:
            <input id="addcontacts-UserName" type="text" class="wide" />
        </label>
        <button id="addcontacts-add-UserName">
            Add</button>
    </p>
    <p>
        <label>
            Email:
            <input id="addcontacts-Email" type="text" class="wide" />
        </label>
        <button id="addcontacts-add-Email">
            Add</button>
    </p>
    <button id="addcontacts-cancel">
        Close</button>
    </form>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/HomeIndex.js")
}
