<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
    </appSettings>

    <connectionStrings>
      <add name="ContactsMongoLocal" connectionString="mongodb://localhost/?safe=true" />
      <add name="ContactsMongo" connectionString="mongodb://firstuser:firstuser@ds049467.mongolab.com:49467/contact" />
    </connectionStrings>
</configuration>
