@{
    ViewBag.Title = "Products SPA Demo";
}
<script type="text/javascript" src="~/Scripts/jquery-1.6.4.js"></script>
<script type="text/javascript" src="~/Scripts/knockout.js"></script>
<script type="text/javascript" src="~/appjs/productsview.js"></script>
<input type="button" value="Add" data-bind="click:AddItem" />
<input type="button" value="Refresh" data-bind="click:Refresh" />
<div style="clear: both;">&nbsp;</div>
<section>
    <ul data-bind="foreach: Items" class="prodlist">
        <li data-bind="click:$root.SelectedItem"><span data-bind="text:Entity.Name"></span> ($<span data-bind="text:Entity.Price"></span>)
        </li>
    </ul>
</section>
<section data-bind="with:SelectedItem, visible: SelectedItem">
    <h1></h1>
    <ul class="prodview">
        <li>
            <label>Delete This Item</label>
            <input type="button" value="Delete" data-bind="click:$root.Delete" />
        </li>
        <li>
            <label class="prodview-label" for="state">Current State</label>
            <input class="prodview-input" disabled id="state" data-bind="value:EntityState" />
        </li>
        <li>
            <label class="prodview-label" for="id">ID</label>
            <input class="prodview-input" disabled id="id" data-bind="value:Entity.ID" />

        </li>
        <li>
            <label class="prodview-label" for="name">Name</label>
            <input class="prodview-input" id="name" data-bind="value:Entity.Name" />
        </li>
        <li>
            <label class="prodview-label" for="price">Price</label>
            <input class="prodview-input" id="price" data-bind="value:Entity.Price" />
        </li>
    </ul>
</section>