<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="TRIPSEntities" connectionString="metadata=res://*/Trips.csdl|res://*/Trips.ssdl|res://*/Trips.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqldev;initial catalog=TRIPS;persist security info=True;user id=projectsdbuser;password=projectsdbuser_dev;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
