<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="TripsUser" connectionString="Data Source=sqldev.cognet.drcog.org;Initial Catalog=TRIPS_User;User ID=globaldbuser;Password=globaldbuser_dev;Application Name=TRIPS_dev;" providerName="System.Data.SqlClient" />
    <add name="TRIPS_UserEntities" connectionString="metadata=res://*/Models.TripsUser.csdl|res://*/Models.TripsUser.ssdl|res://*/Models.TripsUser.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqldev;initial catalog=TRIPS_User;persist security info=True;user id=globaldbuser;password=globaldbuser_dev;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TRIPSEntities" connectionString="metadata=res://*/Models.Trips.csdl|res://*/Models.Trips.ssdl|res://*/Models.Trips.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqldev;initial catalog=TRIPS;persist security info=True;user id=projectsdbuser;password=projectsdbuser_dev;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="TripsMembershipProvider">
      <providers>
        <clear />
        <add name="TripsMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="TripsUser" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="TRIPS" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile  enabled="false">
    </profile>
    <roleManager defaultProvider="TripsRoleProvider" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="TripsRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="TripsUser" applicationName="TRIPS" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>