<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TRIPSEntities" connectionString="metadata=res://*/Models.Trips.csdl|res://*/Models.Trips.ssdl|res://*/Models.Trips.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqldev;initial catalog=TRIPS;persist security info=True;user id=projectsdbuser;password=projectsdbuser_dev;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TRIPS_UserEntities" connectionString="metadata=res://*/Models.TripsUser.csdl|res://*/Models.TripsUser.ssdl|res://*/Models.TripsUser.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqldev;initial catalog=TRIPS_User;persist security info=True;user id=globaldbuser;password=globaldbuser_dev;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>